<%= render "shared/errors", object: @membership %>

<%= form_for [@event, @membership],
						 html: { class: "form-horizontal", role: "form" } do |f| %>
<fieldset>
<%= f.hidden_field :updated_by, value: @current_user.person.name %>

<!-- person details -->
<%= render partial: 'person_details_form', locals: { membership: @membership, f: f } %>

<!-- membership details -->
<%= render partial: 'membership_details_form', locals: { membership: @membership, f: f } %>


<div class="form-group">
	<div class="col-sm-3"></div>
	<div class="col-sm-9" id="member-buttons">
	<%= f.submit 'Update Member', class: 'btn btn-sm btn-default' %> |
	<%= link_to "Back to Profile", event_membership_path(@event, @membership),
							class: 'btn btn-sm btn-default' %>
	</div>
</div>
</fieldset>
<% end %>
