<%= render "shared/errors", object: @membership %>

<%= form_for [@event, @membership],
						 html: { class: "form-horizontal", role: "form" } do |f| %>
<fieldset>
<%= f.hidden_field :updated_by, value: @current_user.person.name %>
<% if policy(@membership).edit_person? %>
<div class="form-group">
	<div class="col-sm-9 lead">
		<% if @membership.person_id.blank? %>
			<h3>New Member</h3>
		<% else %>
			<h3 id="personal"><%= @membership.person.name %>'s Personal Details</h3>
		<% end %>
	</div>
</div>

<%= f.fields_for :person do |person| %>
<div class="form-group">
	<div class="col-sm-3 control-label">
		<%= person.label :salutation, "Salutation: " %>
	</div>
	<div class="col-sm-2">
		<%= person.select :salutation, Setting.Site['salutations'],
			{ include_blank: true }, { class: 'form-control' } %>
	</div>
	<div class="col-sm-7"></div>
</div>

	<div class="form-group">
		<div class="col-sm-3 control-label">
			<%= person.label :firstname, "Firstname: " %>
		</div>
		<div class="col-sm-9">
			<%= person.text_field :firstname, class: 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-3 control-label">
			<%= person.label :lastname, "Lastname: " %>
		</div>
		<div class="col-sm-9">
			<%= person.text_field :lastname, class: 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-3 control-label">
			<%= person.label :email, "E-mail: " %>
		</div>
		<div class="col-sm-9">
			<%= person.text_field :email, class: 'form-control' %>
		</div>
	</div>

	<div class="row">
		<div class="form-inline" id="member-email">
			<div class="col-sm-3">
				&nbsp;
			</div>
			<div class="col-sm-9 share_email">
				<%= f.check_box 'share_email', class: "form-control" %>
				<%= f.label(:share_email, "Allow confirmed members of #{@event.code} to see this e-mail address") %>
			</div>
			<div class="col-sm-3">
				&nbsp;
			</div>
			<div class="col-sm-9 share_email">
				<%= f.check_box 'share_email_hotel', class: "form-control" %>
				<%= f.label(:share_email_hotel, "Share e-mail with hotel") %>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-3 control-label">
			<%= person.label :url, "Website: " %>
		</div>
		<div class="col-sm-9">
			<%= person.text_field :url, class: 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-3 control-label">
			<%= person.label :affiliation, "Affiliation: " %>
		</div>
		<div class="col-sm-9">
			<%= person.text_field :affiliation, class: 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-3 control-label">
			<%= person.label :department, "Department: " %>
		</div>
		<div class="col-sm-9">
			<%= person.text_field :department, class: 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-3 control-label">
			<%= person.label :title, "Title: " %>
		</div>
		<div class="col-sm-9">
			<%= person.text_field :title, class: 'form-control' %>
		</div>
	</div>

	<% if policy(@membership).edit_personal_info? %>
	<div class="form-group">
		<div class="col-sm-3 control-label">
			<%= person.label :academic_status, "Academic Status: " %>
		</div>
		<div class="col-sm-3">
			<%= person.select :academic_status, Setting.Site['academic_status'],
					{ include_blank: true }, { class: 'form-control' } %>
		</div>
		<div class="col-sm-6"></div>
	</div>

	<div class="form-group">
		<div class="col-sm-3 control-label">
			<%= person.label :phd_year, "Year of Ph.D.: " %>
		</div>
		<div class="col-sm-3">
			<%= person.text_field :phd_year, class: 'form-control' %>
		</div>
		<div class="col-sm-6"></div>
	</div>

	<div class="form-group">
		<div class="col-sm-3 control-label">
			<%= person.label :gender, "Gender: " %>
		</div>
		<div class="col-sm-3">
			<%= person.select :gender,
				{ "Male" => "M", "Female" => "F", "Other" => "O" },
				{ include_blank: false }, { class: 'form-control' } %>
		</div>
		<div class="col-sm-6"></div>
	</div>

	<div class="form-group">
		<div class="col-sm-3 control-label">
			<%= person.label :phone, "Phone: " %>
		</div>
		<div class="col-sm-9">
			<%= person.text_field :phone, class: 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-3 control-label">
			<%= person.label :address, "Address: " %>
		</div>
		<div class="col-sm-9">
			<%= person.text_field :address1, class: 'form-control', placeholder: 'Address line 1' %>
			<%= person.text_field :address2, class: 'form-control', placeholder: 'Address line 2' %>
			<%= person.text_field :address3, class: 'form-control', placeholder: 'Address line 3' %>
			<%= person.text_field :city, class: 'form-control', placeholder: 'City' %>
			<%= person.text_field :region, class: 'form-control', placeholder: 'Region' %>
			<%= person.text_field :postal_code, class: 'form-control', placeholder: 'Postal Code' %>
			<%= person.text_field :country, class: 'form-control', placeholder: 'Country' %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-3 control-label">
			<%= person.label :emergency_contact, "Emergency Contact: " %>
		</div>
		<div class="col-sm-9">
			<%= person.text_field :emergency_contact, class: 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-3 control-label">
			<%= person.label :emergency_phone, "Emergency Phone: " %>
		</div>
		<div class="col-sm-9">
			<%= person.text_field :emergency_phone, class: 'form-control' %>
		</div>
	</div>
	<% end %>

	<div class="form-group">
		<div class="col-sm-3 control-label">
			<%= person.label :research_areas, "Research Areas: " %>
		</div>
		<div class="col-sm-9">
			<%= person.text_field :research_areas, class: 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-3 control-label">
			<%= person.label :biograhy, "Biography: " %>
		</div>
		<div class="col-sm-9">
			<%= person.text_area :biography, class: 'form-control' %>
		</div>
	</div>
<% end # fields_for person %>
<% end # edit_person policy %>

<% if policy(@membership).edit_membership? %>
<h3 id="membership">
	<%= @membership.person.name %>'s <%= @event.code %> Membership Details
</h3>

	<% if policy(@membership).edit_role? %>
	<div class="form-group">
		<div class="col-sm-3 control-label">
			<%= f.label :role, "Role: " %>
		</div>
		<div class="col-sm-3">
			<%= show_roles(f, default: @membership.role) %>
		</div>
		<div class="col-sm-6"></div>
	</div>
	<% end %>

	<div class="form-group">
		<div class="col-sm-3 control-label">
			<%= f.label :attendance, "Attendance: " %>
		</div>
		<div class="col-sm-3">
			<%= show_attendances(f) %>
		</div>
		<div class="col-sm-6"></div>
	</div>
<% end %>

<% if policy(@membership).edit_dates? %>
	<%= f.hidden_field :min_date, id: 'min_date', value: @membership.event.start_date %>
	<%= f.hidden_field :max_date, id: 'max_date', value: @membership.event.end_date %>
	<div class="form-group">
		<div class="col-sm-3 control-label">
			<%= f.label :arrival_date, "Arrival Date:" %>
		</div>
		<div class="col-sm-3">
			<%= f.select :arrival_date, date_list, { selected: selected_date('arrival') }, class: "form-control" %>
		</div>
		<div class="col-sm-6"></div>
	</div>

	<div class="form-group">
		<div class="col-sm-3 control-label">
			<%= f.label :departure_date, "Departure Date:" %>
		</div>
		<div class="col-sm-3">
			<%= f.select :departure_date, date_list, { selected: selected_date }, class: "form-control" %>
		</div>
		<div class="col-sm-6"></div>
	</div>
<% end %>

<% if policy(@membership).organizer_notes? %>
	<div class="form-group">
		<div class="col-sm-3 control-label">
			<%= f.label :org_notes, "Organizer Notes: " %>
		</div>
		<div class="col-sm-9">
			<%= f.text_area :org_notes, class: 'form-control' %>
		</div>
	</div>
<% end %>

<% if policy(@membership).edit_hotel? %>
	<h3 id="hotel">
		<%= @membership.person.name %>'s <%= @event.code %> Hotel & Billing Details
	</h3>

	<div class="form-group">
		<div class="col-sm-3 control-label">
			<%= f.label :reviewed, "Reviewed:" %>
		</div>
		<div class="col-sm-9">
			<%= f.check_box :reviewed, class: "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-3 control-label">
			<%= f.label :billing, "Billing: " %>
		</div>
		<div class="col-sm-9">
			<%= f.text_field :billing, class: 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-3 control-label">
			<%= f.label :room, "Room: " %>
		</div>
		<div class="col-sm-9">
			<%= f.text_field :room, class: 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-3 control-label">
			<%= f.label :own_accommodation, "Own Accommodation:" %>
		</div>
		<div class="col-sm-9">
			<%= f.check_box :own_accommodation, class: "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-3 control-label">
			<%= f.label :has_guest, "Has Guest:" %>
		</div>
		<div class="col-sm-9">
			<%= f.check_box :has_guest, class: "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-3 control-label">
			<%= f.label :special_info, "Special Info: " %>
		</div>
		<div class="col-sm-9">
			<%= f.text_area :special_info, class: 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-3 control-label">
			<%= f.label :staff_notes, "Staff Notes: " %>
		</div>
		<div class="col-sm-9">
			<%= f.text_area :staff_notes, class: 'form-control' %>
		</div>
	</div>
<% end %>

<div class="form-group">
	<div class="col-sm-3"></div>
	<div class="col-sm-9" id="member-buttons">
	<%= f.submit 'Update Member', class: 'btn btn-sm btn-default' %> |
	<%= link_to "Back to Profile", event_membership_path(@event, @membership),
							class: 'btn btn-sm btn-default' %>
	</div>
</div>
</fieldset>
<% end %>
