<ol class="ordered-member-list">
<% members.each do |member| %>
  <li id="member-<%= member.id %>" class="<%= reply_due?(member) %>">
    <% if member.role =~ /Organizer/ %>
      <strong><%= member_link(member) %></strong>
    <% elsif member.role == 'Observer' %>
      <span class="observer"><%= member_link(member) %></span>
    <% else %>
      <%= member_link(member) %>
    <% end %>
    <% unless member.person.affiliation.blank? %>
      (<%= member.person.affiliation %>)
    <% end %>
    <% if %w(Invited Undecided).include?(status) && policy(@event).send_invitations? %>
      <span class="reply-by-date"><%= show_invited_on_date(member, true) %></span>
    <% end %>
  </li>
<% end %>
</ol>
