  <% if policy(membership).edit_membership? %>
  <div class="card" id="membership-details">
    <div class="card-title">
      <h3 id="membership">
        <%= @event.code %> Membership Details
      </h3>
    </div>
    <div class="card-body">
      <% if policy(membership).edit_role? %>
      <div class="form-group">
        <div class="control-label">
          <%= f.label :role, "Role: " %>
        </div>
        <%= show_roles(f, default: membership.role) %>
      </div>
      <% end %>
      <div class="form-group">
        <div class="control-label">
          <%= f.label :attendance, "Attendance: " %>
        </div>
        <%= show_attendances(f) %>
      </div>

      <% if policy(membership).edit_dates? %>
      <%= f.hidden_field :min_date, id: 'min_date', value: membership.event.start_date %>
      <%= f.hidden_field :max_date, id: 'max_date', value: membership.event.end_date %>
      <div class="form-group">
        <div class="control-label">
          <%= f.label :arrival_date, "Arrival Date:" %>
        </div>
        <%= f.select :arrival_date, date_list, { selected: selected_date('arrival') }, class: "form-control" %>
      </div>

      <div class="form-group">
        <div class="control-label">
          <%= f.label :departure_date, "Departure Date:" %>
        </div>
        <%= f.select :departure_date, date_list, { selected: selected_date }, class: "form-control" %>
      </div>
      <% end %>

      <% if policy(membership).organizer_notes? %>
      <div class="form-group">
        <div class="control-label">
          <%= f.label :org_notes, "Organizer Notes: " %>
        </div>
        <%= f.text_area :org_notes, class: 'form-control' %>
      </div>
      <% end %>
    </div><!-- ./membership-deets -->
  <% end # edit_membership? %>
</div>
  <% if policy(membership).edit_hotel? %>
  <div class="card" id="hotel-details">
    <div class="card-title">
      <h3 id="hotel">
        Accommodation Details
      </h3>
    </div>
    <div class="card-body">
      <div class="form-inline checkbox-field" id="member-reviewed">
        <%= f.check_box :reviewed, class: "form-control" %>
        <div class="control-label">
          <%= f.label :reviewed, "Reviewed" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label">
          <%= f.label :billing, "Billing: " %>
        </div>
        <%= f.text_field :billing, class: 'form-control' %>
      </div>

      <div class="form-group">
        <div class="control-label">
          <%= f.label :room, "Room: " %>
        </div>
        <%= f.text_field :room, class: 'form-control' %>
      </div>

      <div class="form-group">
        <div class="control-label">
          <%= f.label :room_notes, "Room notes: " %>
        </div>
        <%= f.text_area :room_notes, class: 'form-control' %>
      </div>

      <div class="form-inline checkbox-field">
        <%= f.check_box :own_accommodation, class: "form-control" %>
        <div class="control-label">
          <%= f.label :own_accommodation, "Own Accommodation" %>
        </div>

        <%= f.check_box :has_guest, class: "form-control", id: "has-guest" %>
        <div class="control-label">
          <%= f.label :has_guest, "Has Guest" %>
        </div>
      </div>

      <div class="form-group">
        <strong>Number of Guests:</strong> <%= f.text_field :num_guests, class: 'form-control' %>
      </div>

      <div class="form-group">
        <div class="control-label">
          <%= f.label :special_info, "Special Info: " %>
        </div>
        <%= f.text_area :special_info, class: 'form-control' %>
      </div>

      <div class="form-group">
        <div class="control-label">
          <%= f.label :staff_notes, "Staff Notes: " %>
        </div>
        <%= f.text_area :staff_notes, class: 'form-control' %>
      </div>


    </div>
  </div><!-- ./card -->
  <% end # policy edit hotel %>

  <div class="form-group" id="member-buttons">
  <%= f.submit 'Update Membership', class: 'btn btn-primary' %> |
  <%= link_to "Back to Profile", event_membership_path(@event, @membership),
              class: 'btn btn-secondary' %>
  </div>
