<% i=1 %>
<% members.each do |member| %>
  <li class="list-group-item">
    <span class="row-counter">#<%= i %></span>
    <%= link_to "#{member.person.lname}", event_membership_path(@event, member) %>
    <% unless member.person.affiliation.blank? %>
      (<%= member.person.affiliation %>),
    <% end %>
    <%= show_invited_on_date(member) %> &lt;<%= show_email(member) %>&gt;
    <% if member.role =~ /Organizer|Observer/ %>
    <p class="mb-1 member-role"><%= member.role %></p>
    <% end %>
  </li>
  <% i += 1 %>
<% end %>
