<div class="card card-default">
  <div class="card-title" id="new-people-header">
    <h2>
      New records will be created for these people:<br>
      <small>Please ensure all data is complete and in the correct fields.</small>
    </h2>
    <%= add_member_errors(@add_members).html_safe %>
  </div>
  <div class="form-group">
  <table class="table table-striped" id="new-people">
    <tr><th class="counter">#</th><th>E-mail</th><th>Lastname</th><th>Firstname</th><th>Affiliation</th></tr>
    <% count = 0; @add_members.new_people.each do |row| %>
      <% count += 1; %>
    <tr>
      <td class="counter"><%= count %></td>
      <td><%= f.text_field :email, name: 'add_members_form[new_people][][email]', value: row[:email], class: 'form-control person-data' %></td>
      <td><%= f.text_field :lastname, name: 'add_members_form[new_people][][lastname]',value: row[:lastname], class: 'form-control person-data' %></td>
      <td><%= f.text_field :firstname, name: 'add_members_form[new_people][][firstname]',value: row[:firstname], class: 'form-control person-data' %></td>
      <td class="last-column"><%= f.text_field :affiliation, name: 'add_members_form[new_people][][affiliation]',value: row[:affiliation], class: 'form-control form-group person-data' %></td>
    </tr>
    <% end %>
  </table>
  </div><!-- ./form-group -->
</div><!-- new_people card -->
