<% if policy(@membership).edit_person? %>
<div class="card">
  <div class="card-title">
    <% if @membership.person_id.blank? %>
      <h3>New Member</h3>
    <% else %>
      <h3 id="personal"><%= @membership.person.name %>'s Personal Details</h3>
    <% end %>
  </div>
  <div class="card-body">
    <%= f.fields_for :person do |person| %>
    <div class="form-group">
      <div class="control-label">
        <%= person.label :salutation, "Salutation: " %>
      </div>
      <%= person.select :salutation, Setting.Site['salutations'],
        { include_blank: true }, { class: 'form-control' } %>
    </div>

    <div class="form-group">
      <div class="control-label">
        <%= person.label :firstname, "Firstname: " %>
      </div>
      <%= person.text_field :firstname, class: 'form-control' %>
    </div>

    <div class="form-group">
      <div class="control-label">
        <%= person.label :lastname, "Lastname: " %>
      </div>
      <%= person.text_field :lastname, class: 'form-control' %>
    </div>

    <div class="form-group">
      <div class="control-label">
        <%= person.label :email, "E-mail: " %>
      </div>
      <%= person.text_field :email, class: 'form-control' %>
    </div>

    <div class="form-inline checkbox-field" id="member-email">
      <%= f.check_box 'share_email', class: "form-control" %>
      <%= f.label(:share_email, "Allow confirmed members of #{@event.code} to see this e-mail address") %>
    </div>

    <div class="form-inline checkbox-field" id="share-email">
      <%= f.check_box 'share_email_hotel', class: "form-control" %>
      <%= f.label(:share_email_hotel, "Share e-mail with hotel") %>
    </div>

    <div class="form-group" id="website">
      <div class="control-label">
        <%= person.label :url, "Website: " %>
      </div>
      <%= person.text_field :url, class: 'form-control' %>
    </div>

    <div class="form-group">
      <div class="control-label">
        <%= person.label :affiliation, "Affiliation: " %>
      </div>
      <%= person.text_field :affiliation, class: 'form-control' %>
    </div>

    <div class="form-group">
      <div class="control-label">
        <%= person.label :department, "Department: " %>
      </div>
      <%= person.text_field :department, class: 'form-control' %>
    </div>

    <div class="form-group">
      <div class="control-label">
        <%= person.label :title, "Title: " %>
      </div>
      <%= person.text_field :title, class: 'form-control' %>
    </div>

    <% if policy(@membership).edit_personal_info? %>
    <div class="form-group">
      <div class="control-label">
        <%= person.label :academic_status, "Academic Status: " %>
      </div>
      <%= person.select :academic_status, Setting.Site['academic_status'],
          { include_blank: true }, { class: 'form-control' } %>
    </div>

    <div class="form-group">
      <div class="control-label">
        <%= person.label :phd_year, "Year of Ph.D.: " %>
      </div>
      <%= person.text_field :phd_year, class: 'form-control' %>
    </div>

    <div class="form-group">
      <div class="control-label">
        <%= person.label :gender, "Gender: " %>
      </div>
      <%= person.select :gender,
        { "Male" => "M", "Female" => "F", "Other" => "O" },
        { include_blank: false }, { class: 'form-control' } %>
    </div>

    <% if policy(@membership).show_address? %>
    <div class="form-group">
      <div class="control-label">
        <%= person.label :phone, "Phone: " %>
      </div>
      <%= person.text_field :phone, class: 'form-control' %>
    </div>
    <div class="form-group">
      <div class="control-label">
        <%= person.label :address, "Address: " %>
      </div>
      <%= person.text_field :country, class: 'form-control', placeholder: 'Country' %>
      <%= person.text_field :region, class: 'form-control', placeholder: 'Region' %>
    </div>
    <% else %>
    <div class="form-group">
      <div class="control-label">
        <%= person.label :country, "Country: " %>
      </div>
      <%= person.text_field :country, class: 'form-control', placeholder: 'Country' %>
    </div>
    <% end %>

    <div class="form-group">
      <div class="control-label">
        <%= person.label :emergency_contact, "Emergency Contact: " %>
      </div>
      <%= person.text_field :emergency_contact, class: 'form-control' %>
    </div>

    <div class="form-group">
      <div class="control-label">
        <%= person.label :emergency_phone, "Emergency Phone: " %>
      </div>
      <%= person.text_field :emergency_phone, class: 'form-control' %>
    </div>
    <% end %>

    <div class="form-group">
      <div class="control-label">
        <%= person.label :biography, "Biographical Summary: " %>
        <p class="description"><%= GetSetting.rsvp_biography_intro(@event.location) %></p>
      </div>
      <%= person.text_area :biography, class: 'form-control' %>
    </div>
    <div class="form-group">
      <div class="control-label">
        <%= person.label :research_areas, "Research Areas: " %>
      </div>
      <%= person.text_field :research_areas, class: 'form-control', placeholder: 'An optional comma-separated list of your areas of research (tags)' %>
    </div>
    <% end # fields_for person %>
  </div><!-- ./card-body -->
</div> <!-- ./card person-form -->
<% end # edit_person policy %>

