<%= form_with model: [@event, @membership], class: "horizontal-form" do |f| %>
<div class="member-edit container">
  <div class="row">
  <%= render "shared/errors", object: @membership %>
  </div>
  <div class="row" id="form-page">
    <div class="col-lg-6" id="person-form">
      <%= render partial: 'person_details_form', locals: { membership: @membership, f: f } %>
    </div>
    <div class="col-lg-6" id="membership-deets-form">
      <% if policy(@membership).self_edit? %>
        <%= render partial: 'membership_rsvp_form', locals: { membership: @membership, f: f } %>
      <% else %>
        <%= render partial: 'membership_details_form', locals: { membership: @membership, f: f } %>
      <% end %>
    </div>
  </div><!-- ./#form-page -->
</div>
<% end %>
