<article>
<% if @memberships.blank? %>
  <div class="row">
      <div class="page-header">
        <h1>This event has no members.
        </h1>
      </div>
    </div>
<% else %>
  <!-- Membership list, one per type of attendance status  -->
  <div class="d-flex flex-wrap align-content-stretch align-self-start">
  <% @memberships.each do |status, members| %>
    <% if policy(@event).view_attendance_status?(status) %>
    <div class="card p-2 members-list <%= print_section?(status) %> <%= status.parameterize %>-members">
      <h4 class="card-title">
        <%= status_with_icon(status) %> Members (<%= members.size %>)
      </h4>
      <div class="card-body">
        <% if %w(Invited Undecided).include?(status) && policy(@event).send_invitations? %>
        <div class="colheading-right">Invited On</div>
        <% end %>
      <%= render partial: 'member_index_items', locals: {status: status, members: members } %>
      </div>
      <div class="card-footer email-links no-print"><%= add_email_buttons(status) %></div>
    </div>
    <% end %>
  <% end %>
<% end %>
</div>
</article>

<% if display_new_feature_notice? %>
  <%= render partial: 'new_feature_notice' %>
<% end %>
