<article>
<% if @memberships.blank? %>
  <div class="row">
      <div class="page-header">
        <h1>This event has no members.
        </h1>
      </div>
    </div>
<% else %>
  <!-- Membership list, one per type of attendance status  -->
  <div class="d-flex flex-wrap align-content-stretch align-self-start">
  <% @memberships.each do |status, members| %>
    <% if policy(@event).view_attendance_status?(status) %>
    <div class="card p-2 members-list <%= print_section?(status) %> <%= status.parameterize %>-members">
      <h4 class="card-title">
        <%= status_with_icon(status) %> Members (<%= members.size %>)
      </h4>
      <div class="card-body">
        <% if show_invited_on?(status) %>
        <div class="colheading-right">Invited On</div>
        <% end %>
        <div class="d-flex flex-column">
          <%= render partial: 'member_index_items', locals: {status: status, members: members } %>

          <% if show_invited_on?(status) %>
          <div class="reply-by-legend p-2" id="<%= status %>-legend">
            <p class="card-text"><span class="highlighted">Highlighting</span> indicates that the person is overdue to reply to an invitation. Hold pointer over the <strong>Invited On</strong> date for details. Send reminders in the <%= link_to 'Invite Members', invite_event_memberships_path(@event) %> section.</p>
          </div>
          <% end %>
        </div>
      </div>
      <% if policy(@event).show_email_buttons?(status) %>
      <div class="card-footer email-links no-print"><%= add_email_buttons(status) %></div>
      <% end %>
    </div>
    <% end %>
  <% end %>
  </div>
<% end %>
</article>
