<article>
<% if @memberships.blank? %>
  <div class="row">
      <div class="page-header">
        <h1>This event has no members.
        </h1>
      </div>
    </div>
<% else %>
  <!-- Membership list, one per type of attendance status -->
  <% @memberships.each do |status, members| %>
    <% if policy(@event).view_attendance_status?(status) %>
      <div class="container-fluid members-list <%= print_section?(status) %> <%= status.parameterize %>-members">
        <div class="card">
          <div class="card-title">
            <%= status %> Members
          </div>
          <div class="card-body members-list">
            <div class="list-group" id="<%= status %>-list" role="tablist">
              <%= render partial: 'member_list_items', locals: {status: status, members: members } %>
            </div>
            <!-- ./list-group -->
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.container-fluid -->

    <% end %>
  <% end %>
<% end %>
</article>

<% if display_new_feature_notice? %>
  <%= render partial: 'new_feature_notice' %>
<% end %>
