<article>
<% if @memberships.blank? %>
  <div class="row">
      <div class="page-header">
        <h1>This event has no members.
        </h1>
      </div>
    </div>
<% else %>
  <!-- Membership list, one per type of attendance status -->
  <% @memberships.each do |status, members| %>
    <% if policy(@event).view_attendance_status?(status) %>
    <div class="card members-list <%= print_section?(status) %> <%= status.parameterize %>-members">
      <h4 class="card-title">
        <%= status_with_icon(status) %> Members (<%= members.size %>)
      </h4>
      <div class="card-body">
        <div class="card-text">
          <%= render partial: 'member_list_items', locals: {status: status, members: members } %>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
<% end %>
</article>

<% if display_new_feature_notice? %>
  <%= render partial: 'new_feature_notice' %>
<% end %>
