<article>
<h4><strong>Event Member:</strong></h4>

<div id="profile-pic" class="col-md-3"><%= profile_pic(@membership.person) %></div>

<div class="col-md-9 profile">
	<div class="row" id="profile-name"><%= @membership.person.name %></div>
	<div class="row" id="profile-affil"><%= @membership.person.affil_with_title %></div>
	<% if policy(@membership).use_email_address? %>
	<div class="row" id="profile-email"><%= mail_to @membership.person.email %></div>
	<% end %>
	<% unless @membership.person.url.blank? %>
	<div class="row" id="profile-url"><%= link_to @membership.person.uri, @membership.person.uri %></div>
	<% end %>

  <div class="row" id="profile-attendance">
    <strong>Attendance:</strong>
    <%= @membership.attendance %>
  </div>

  <div class="row" id="profile-role">
    <strong>Role:</strong>
    <%= @membership.role %>
  </div>

  <% if policy(@membership).view_details? %>
  <div class="row" id="profile-arrival">
	 <strong>Arriving on:</strong>
	 <%= @membership.arrives %>
	</div>

	<div class="row" id="profile-departure">
	 <strong>Departing on:</strong>
	 <%= @membership.departs %>
	</div>

	<div class="row" id="profile-replied-at">
	 <strong>RSVP date:</strong>
	 <%= @membership.rsvp_date %>
	</div>
  <% end %>

	<div class="row" id="member-buttons">
	<%= link_to "Back to #{@event.code}", event_memberships_path(@event), class: 'btn btn-sm btn-default' %>
	</div><!-- member-buttons -->

	</div><!-- nested row -->

</div><!-- right-side column -->
</article>

