<%= form_for(@lecture) do |f| %>
  <% if @lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
      <% @lecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_id %><br>
    <%= f.text_field :event_id %>
  </div>
  <div class="field">
    <%= f.label :person_id %><br>
    <%= f.text_field :person_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.datetime_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :abstract %><br>
    <%= f.text_area :abstract %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :filename %><br>
    <%= f.text_field :filename %>
  </div>
  <div class="field">
    <%= f.label :room %><br>
    <%= f.text_field :room %>
  </div>
  <div class="field">
    <%= f.label :publish %><br>
    <%= f.check_box :publish %>
  </div>
  <div class="field">
    <%= f.label :tweeted %><br>
    <%= f.check_box :tweeted %>
  </div>
  <div class="field">
    <%= f.label :hosting_license %><br>
    <%= f.text_area :hosting_license %>
  </div>
  <div class="field">
    <%= f.label :archiving_license %><br>
    <%= f.text_area :archiving_license %>
  </div>
  <div class="field">
    <%= f.label :hosting_release %><br>
    <%= f.check_box :hosting_release %>
  </div>
  <div class="field">
    <%= f.label :archiving_release %><br>
    <%= f.check_box :archiving_release %>
  </div>
  <div class="field">
    <%= f.label :authors %><br>
    <%= f.text_field :authors %>
  </div>
  <div class="field">
    <%= f.label :copyright_owners %><br>
    <%= f.text_field :copyright_owners %>
  </div>
  <div class="field">
    <%= f.label :publication_details %><br>
    <%= f.text_field :publication_details %>
  </div>
  <div class="field">
    <%= f.label :updated_by %><br>
    <%= f.number_field :updated_by %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
