<p id="notice"><%= notice %></p>

<h1>Listing Lectures</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Person</th>
      <th>Title</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Abstract</th>
      <th>Notes</th>
      <th>Filename</th>
      <th>Room</th>
      <th>Publish</th>
      <th>Tweeted</th>
      <th>Hosting license</th>
      <th>Archiving license</th>
      <th>Hosting release</th>
      <th>Archiving release</th>
      <th>Authors</th>
      <th>Copyright owners</th>
      <th>Publication details</th>
      <th>Updated by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lectures.each do |lecture| %>
      <tr>
        <td><%= lecture.event %></td>
        <td><%= lecture.person %></td>
        <td><%= lecture.title %></td>
        <td><%= lecture.start_time %></td>
        <td><%= lecture.end_time %></td>
        <td><%= lecture.abstract %></td>
        <td><%= lecture.notes %></td>
        <td><%= lecture.filename %></td>
        <td><%= lecture.room %></td>
        <td><%= lecture.publish %></td>
        <td><%= lecture.tweeted %></td>
        <td><%= lecture.hosting_license %></td>
        <td><%= lecture.archiving_license %></td>
        <td><%= lecture.hosting_release %></td>
        <td><%= lecture.archiving_release %></td>
        <td><%= lecture.authors %></td>
        <td><%= lecture.copyright_owners %></td>
        <td><%= lecture.publication_details %></td>
        <td><%= lecture.updated_by %></td>
        <td><%= link_to 'Show', lecture %></td>
        <td><%= link_to 'Edit', edit_lecture_path(lecture) %></td>
        <td><%= link_to 'Destroy', lecture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lecture', new_lecture_path %>
