<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @lecture.event %>
</p>

<p>
  <strong>Person:</strong>
  <%= @lecture.person %>
</p>

<p>
  <strong>Title:</strong>
  <%= @lecture.title %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @lecture.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @lecture.end_time %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @lecture.abstract %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @lecture.notes %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @lecture.filename %>
</p>

<p>
  <strong>Room:</strong>
  <%= @lecture.room %>
</p>

<p>
  <strong>Publish:</strong>
  <%= @lecture.publish %>
</p>

<p>
  <strong>Tweeted:</strong>
  <%= @lecture.tweeted %>
</p>

<p>
  <strong>Hosting license:</strong>
  <%= @lecture.hosting_license %>
</p>

<p>
  <strong>Ubc license:</strong>
  <%= @lecture.archiving_license %>
</p>

<p>
  <strong>Hosting release:</strong>
  <%= @lecture.hosting_release %>
</p>

<p>
  <strong>Archiving release:</strong>
  <%= @lecture.archiving_release %>
</p>

<p>
  <strong>Authors:</strong>
  <%= @lecture.authors %>
</p>

<p>
  <strong>Copyright owners:</strong>
  <%= @lecture.copyright_owners %>
</p>

<p>
  <strong>Publication details:</strong>
  <%= @lecture.publication_details %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @lecture.updated_by %>
</p>

<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
