<%= render "devise/shared/error_messages", resource: resource %>

<div class="login-box" id="ws-login-box">
  <h3 class="pwchange-head">PASSWORD <i class="fa fa-fw fa-lock"></i> CHANGE</h3>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
    html: { role: 'form', id: 'pwchange-form', class: 'login-form' }) do |f| %>

  <div class="form-group">
    <%= f.label :current_password, 'Enter your current password:' %>
    <%= f.password_field :current_password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password, 'New password:' %>
    <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, 'New password (again):' %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="row">
    <%= f.submit 'Update Password', :class => 'button right btn btn-primary' %> &nbsp; &nbsp;
    <%= link_to "Cancel", root_path, class: 'button right btn btn-primary' %>
    <br><br>
  </div>
  <% end %>
  <div class="row">
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="card card-body bg-light col-md-12 horizontal-authform">
        <h2>Note:</h2>
        We are currently waiting e-mail confirmation for: <%= resource.unconfirmed_email %>.
        The account will not work until this e-mail is confirmed.
      </div>
    <% end %>
  </div>
</div>
