<%= render "shared/errors", object: @schedule %>
<div class="card" id="schedule-form-page">
<%= form_with model: @schedule, url: schedule_form_with_path, class: "form" do |f| %>
<%= f.hidden_field :event_id %>
<%= f.hidden_field :id %>
<%= time_limits(@schedule) %>
<div class="card-title">
  <h4><%= f.object.new_record? ? '<i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Add'.html_safe : '<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit'.html_safe %> Schedule Item</h4>
</div>
<div class="card-body" id="schedule-edit-form">
<input id="day" name="day" type="hidden" value="<%= @day.strftime("%Y-%m-%d") %>" />
<fieldset>
  <div class="row">
    <div class="form-group col-lg-12 col-xl-6" id="schedule-section">
      <table id="select-times" border="0">
        <tr>
          <td class="form-group">
            <%= f.label "Scheduling Item on" %>:
          </td>
          <td class="form-group select-day">
            <%= f.select :day, @event.days.map {|day| [ day.strftime("%A, %B %e"), day.to_date ]}, {}, { class: 'form-control days' } %>
          </td>
        </tr>
        <tr>
          <td class="form-group">
            <%= f.label :start_time %>:
          </td>
          <td class="form-group select-times">
            <%= f.time_select :start_time, {}, { class: 'form-control' } %>
          </td>
        </tr>
        <tr>
          <td class="form-group">
            <%= f.label :end_time %>:
          </td>
          <td class="form-group select-times">
            <%= f.time_select :end_time, {}, { class: 'form-control' } %>
          </td>
        </tr>
        <tr>
          <td class="form-group">Timezone:</td>
          <td class="form-group select-times"><%= @event.time_zone %>, <%= @event.days.first.strftime('%Z') %> (UTC<%= @event.days.first.strftime('%z') %>)</td>
        </tr>
      </table>
    </div>
    <!-- /.form-group .col-xl-6 -->
    <% if policy(@schedule).edit_time_limits? %>
    <div class="form-group col-lg-12 col-xl-6" id="schedule-section2">
      <table id="select-times" border="0">
        <tr>
          <td class="form-group staff-option" colspan="2">
            <h4>Staff item: set time limits</h4>
          </td>
        </tr>
        <tr>
          <td class="form-group staff-option">
            <%= f.label :earliest %>:
          </td>
          <td class="form-group select-times">
            <%= f.time_select :earliest, { include_blank: true }, { class: 'form-control' } %>
          </td>
        </tr>
        <tr>
          <td class="form-group staff-option">
            <%= f.label :latest %>:
          </td>
          <td class="form-group select-times">
            <%= f.time_select :latest, { include_blank: true }, { class: 'form-control' } %>
          </td>
        </tr>
      </table>
    </div>
    <!-- /.form-group .col-xl-6 -->
    <% end %>
  </div>
  <!-- /.row -->
  <% if policy(@schedule).edit_staff_items? %>
  <div class="row">
    <div class="col-xl-12 form-group checkbox" id="staff-item-checkbox">
      <%= f.label :staff_item %>:
      <label>
        <%= f.check_box :staff_item %> check this box to prevent non-staff from changing this item within
        <%= distance_of_time_in_words(@lock_time) %> of the event.
      </label>
    </div>
  </div>
  <% end %>

  <div class="row">
  <%= render 'update_all' %>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-lg-12 form-group">
        <%= f.label 'Title' %> <strong>(if unknown, please enter "TBA")</strong>:
        <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

    <%= f.fields_for :lecture do |lecture| %>
    <div class="row">
      <div class="col-lg-12 form-group">
        <%= lecture.label "Speaker (if this is a talk): " %>
          <%= lecture.collection_select(:person_id, @event.confirmed, :id, :lname, {:prompt=>true, :order => "LOWER(:lname)"}, { class: 'form-control' }) %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group checkbox" style="margin: 2em 0;">
          <%= f.label :do_not_publish %>:
          <label>
            <%= lecture.check_box :do_not_publish %> <span id="do-not-publish">Check this box if the speaker has requested that the talk be recorded, but not automatically published.</span>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 form-group">
          <%= lecture.label :keywords %>:
          <%= lecture.text_field :keywords, class: 'form-control' %>
      </div>
    </div>
    <% end %>
    <div class="row">
      <div class="col-lg-12 form-group">
        <%= f.label "Description or Abstract" %>:
        <%= f.text_area :description, rows: 5, class: 'form-control' %>
  			<p id="mathjax">Enclose LaTeX with these delimiters: <span class="tex2jax_ignore">\(...\) or $...$ for in-line math, and \[...\] or $$...$$</span> for displayed equations. See the <%= link_to 'MathJax Documentation', 'http://docs.mathjax.org/en/latest/tex.html', :target => "_blank" %> for detailed instructions.</p>
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        <%= f.label :location %>:
        <%= f.text_field :location, class: 'form-control' %>
      </div>
    </div>

  <div class="row buttons">
    <div class="col form-group">
      <%= link_to "Back to Schedule", event_schedule_index_path(@event), class: 'btn btn-secondary' %>
      <% if f.object.new_record? %>
        | <%= f.submit 'Add New Schedule Item', class: 'btn btn-primary' %>
      <% else %>
        | <%= render partial: 'update_button', locals: { form: f } %>
      <% end %>

      <% if policy(@schedule).destroy? && !f.object.new_record? %>
          | <%= link_to 'Delete Schedule Item', event_schedule_path(@event, @schedule), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure you want to remove #{@schedule.name}?" } %>
      <% end %>
    </div>
  </div>
  <!-- /.row .buttons -->

  <div class="row">
    <div class="col-lg-12 pull-right">
      <% unless @schedule.updated_at.blank? %>
      <p id="updated_by">Last updated by <%= @schedule.updated_by %> at: <br /> <%= @schedule.updated_at %></p>
      <% end %>
    </div>
  </div><!-- ./row -->
</fieldset>
<% end %>
</div><!-- ./card-body -->
</div><!-- ./card -->
