<%= render "shared/errors", object: @schedule %>

<%= form_for @schedule, url: {action: "#{@form_action}"}, :html => { :role => "form", :class => "form" } do |f| %>
<%= f.hidden_field :event_id %>
<%= time_limits(@schedule) %>
<input id="day" name="day" type="hidden" value="<%= @day.strftime("%Y-%m-%d") %>" />
<fieldset>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="form-group col-sm-11">
      <table id="select-times" border="0">
        <tr>
          <td class="form-group">
            <%= f.label "Scheduling Item on" %>:
          </td>
          <td class="form-group select-day">
            <%= f.select :day, @event.days.map {|day| [ day.strftime("%A, %B %e"), day.to_date ]}, {}, { class: 'form-control days' } %>
          </td>
          <% if policy(@schedule).edit_time_limits? %>
          <td class="form-group staff-option" colspan="2">
            <h4>Staff option: set time limits</h4>
          </td>
          <% end %>
        </tr>
        <tr>
          <td class="form-group">
            <%= f.label :start_time %>:
          </td>
          <td class="form-group select-times">
            <%= f.time_select :start_time, {}, { class: 'form-control' } %>
          </td>
          <% if policy(@schedule).edit_time_limits? %>
          <td class="form-group staff-option">
            <%= f.label :earliest %>:
          </td>
          <td class="form-group select-times">
            <%= f.time_select :earliest, { include_blank: true }, { class: 'form-control' } %>
          </td>
          <% end %>
        </tr>
        <tr>
          <td class="form-group">
            <%= f.label :end_time %>:
          </td>
          <td class="form-group select-times">
            <%= f.time_select :end_time, {}, { class: 'form-control' } %>
          </td>
          <% if policy(@schedule).edit_time_limits? %>
          <td class="form-group staff-option">
            <%= f.label :latest %>:
          </td>
          <td class="form-group select-times">
            <%= f.time_select :latest, { include_blank: true }, { class: 'form-control' } %>
          </td>
          <% end %>
        </tr>
      </table>
    </div>
    <!-- /.form-group .col-sm-7 -->
  </div>
  <!-- /.row -->
  <div class="row">
  <%= render 'update_all' %>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="form-group">
        <%= f.label "Title" %>:
        <%= f.text_field :name, class: 'form-control' %>
    </div>

    <%= f.fields_for :lecture do |lecture| %>
        <div class="form-group">
          <%= lecture.label "Speaker (if this is a talk): " %>
            <%= lecture.collection_select(:person_id, @event.confirmed, :id, :lname, {:prompt=>true, :order => "LOWER(:lname)"}, { class: 'form-control' }) %>
        </div>

        <div class="form-group checkbox" style="margin: 2em 0;">
          <%= f.label :do_not_publish %>:
          <label>
            <%= lecture.check_box :do_not_publish %> Check this box if the speaker has requested that the talk be recorded, but not automatically published.
          </label>
        </div>

        <div class="form-group">
            <%= lecture.label :keywords %>:
            <%= lecture.text_field :keywords, class: 'form-control' %>
        </div>
    <% end %>
    <div class="form-group">
        <%= f.label "Description or Abstract" %>:
        <%= f.text_area :description, rows: 5, class: 'form-control' %>
  			<p id="mathjax">Enclose LaTeX with these delimiters: <span class="tex2jax_ignore">\(...\) or $...$ for in-line math, and \[...\] or $$...$$</span> for displayed equations. See the <%= link_to 'MathJax Documentation', 'http://docs.mathjax.org/en/latest/tex.html', :target => "_blank" %> for detailed instructions.</p>
    </div>
    <div class="form-group">
        <%= f.label :location %>:
        <%= f.text_field :location, class: 'form-control' %>
    </div>

    <% if policy(@schedule).edit_staff_items? %>
    <div class="form-group checkbox">
      <%= f.label :staff_item %>:
      <label>
        <%= f.check_box :staff_item %> check this box to prevent non-staff from changing this item within
        <%= distance_of_time_in_words(@lock_time) %> of the event.
      </label>
    </div>
    <% end %>
  </div>
  <!-- ./row -->

  <div class="row buttons">
    <div class="col-xs-7">
      <div class="form-group">
          <%= link_to "Back to Schedule", event_schedule_index_path(@event), class: 'btn btn-sm btn-default' %>
          <% if f.object.new_record? %>
            | <%= f.submit 'Add New Schedule Item', class: 'btn btn-sm btn-default' %>
          <% else %>
            | <%= render partial: 'update_button', locals: { form: f } %>
          <% end %>
      </div>

      <% if policy(@schedule).destroy? && !f.object.new_record? %>
      <div class="form-group">
          <%= link_to 'Delete Schedule Item', event_schedule_path(@event, @schedule), method: :delete, class: 'btn btn-sm btn-default', data: { confirm: "Are you sure you want to remove #{@schedule.name}?" } %>
      </div>
      <% end %>
    </div>
    <!-- /.col-xs-6 -->

    <div class="col-xs-5">
      <% unless @schedule.updated_at.blank? %>
      <p id="updated_by">Last updated by <%= @schedule.updated_by %> at: <br /> <%= @schedule.updated_at %></p>
      <% end %>
    </div>
    <!-- /.col-xs-6 -->
  </div>
  <!-- /.row .buttons -->
</fieldset>
<% end %>
