<div class="row my-events">
  <div class="col-md-12">
    <div class="card card-primary show">
      <div class="card-title">
        <h3 class="event-title"><%= membership.event.name %><br />
          <small class="subtitle"><%= membership.event.code + ' • ' + membership.event.dates(:long) %></small></h3>
      </div>
      <div class="card-body">
        <p class="lead event-status">
          Your role: <strong><%= membership.role %></strong>, Attendance: <strong><%= membership.attendance %></strong>
        </p>

        <div class="row event-buttons">
        <%= link_to '<i class="fa fa-book fa-fw"></i> Details'.html_safe, event_path(membership.event), class: 'btn btn-secondary' %>
        <%= link_to '<i class="fa fa-calendar fa-fw"></i> Schedule'.html_safe, event_schedule_index_path(membership.event), class: 'btn btn-secondary' %>
        <%= link_to '<i class="fa fa-users fa-fw"></i> Participants'.html_safe, event_memberships_path(membership.event), class: 'btn btn-secondary' %>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col-md-12 -->
</div>
<!-- /.row -->
