<div class="row">
  <div class="col-md-12">
    <div class="card card-primary show">
      <div class="card-title">
        <h1 class="card-title event-title"><%= membership.event.name %><br />
          <small><%= membership.event.code + ' • ' + membership.event.dates(:long) %></small></h1>
      </div>
      <div class="card-body">
        <div class="row event-status">
          <p>Your role: <em><%= membership.role %></em>, Attendance: <em><%= membership.attendance %></em></p>
        </div>
        <div class="row event-buttons">
          <div class="btn-toolbar">
            <div class="btn-group" role="group">
              <%= link_to '<i class="fa fa-book fa-fw"></i> Details'.html_safe, event_path(membership.event), class: 'btn btn-default' %>
              <%= link_to '<i class="fa fa-calendar fa-fw"></i> Schedule'.html_safe, event_schedule_index_path(membership.event), class: 'btn btn-default' %>
              <%= link_to '<i class="fa fa-users fa-fw"></i> Participants'.html_safe, event_memberships_path(membership.event), :class => 'btn btn-default' %>
            </div>
          </div>
          <!-- /.btn-toolbar -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col-md-12 -->
</div>
<!-- /.row -->
