<div class="panel panel-default template-panels">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= template_event.code %>"><%= template_event.code %>: <%= template_event.name %></a>
    </h4>
  </div>
  <div id="collapse<%= template_event.code %>" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="row row-centered workshop-links">
        <div class="col-md-12 col-centered">
          <%= link_to '<i class="fa fa-calendar fa-fw"></i> Manage Schedule'.html_safe, event_schedule_index_path(template_event), :class => 'btn btn-default btn-block' %>
        </div>
        <!-- /.col-md-12 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel-collapse -->
</div>
<!-- /.panel -->
