<article>
  <div class="row">

    <% if current_user.last_sign_in_at.nil? %>
    <div class="col-md-5">
      <div class="well">
        <h3>Dear admin user,</h3>
        <p>To manage a workshop schedule, click the "Manage Schedule" button under the workshop's name. If you can't
          see the button, click the workshop's name to expand the panel.</p>
        <p>There are also navigation links on the left side of the page (or in the menu on a small screen).</p>
        <p>Template Events can be used to set the default schedule template that workshops will use.</p>
        <p>This application is a work in progress. I hope that you enjoy using it, and I
          <%= mail_to Global.email.webmaster, "welcome any feedback" %> you may have.</p>
        <p>&mdash;Brent</p>
      </div>
      <!-- /.well -->
    </div>
    <!-- /.col-md-5 -->
    <% end %>

    <div class="col-md-7">
      <div class="panel panel-default workshops-panels">
        <div class="panel-heading your-workshops-heading">
          <%= @event_heading %>
        </div>
        <!-- .panel-heading -->
        <div class="panel-body">
          <div class="panel-group" id="accordion">

            <%= render partial: "event", collection: @events %>

          </div>
          <!-- .panel-group #accordion -->
        </div>
        <!-- .panel-body -->
      </div>
      <!-- /.panel -->

      <div class="panel panel-default templates-panels">
        <div class="panel-heading your-workshops-heading">
          <%= current_user.location %> Template Events
        </div>
        <!-- .panel-heading -->
        <div class="panel-body">
          <div class="panel-group" id="accordion">

            <%= render partial: "template_event", collection: @template_events %>

          </div>
          <!-- .panel-group #accordion -->
        </div>
        <!-- .panel-body -->
      </div>
      <!-- /.panel -->

    </div>
    <!-- /.col-md-7 -->

  </div>
  <!-- /.row -->
</article>