<%= render "shared/errors", object: @event %>
<div class="event-page">
<%= form_for @event, html: { role: "form", class: "form" } do |f| %>
    <fieldset>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <%= f.label "Event Code" %>
            <%= f.text_field :code, class: 'form-control' %>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <%= f.label :door_code %>
            <%= f.text_field :door_code, class: 'form-control' %>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <%= f.label "Booking code" %>
            <%= f.text_field :booking_code, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group checkbox">
            <%= f.label :cancelled %>: &nbsp;
            <label>
              <%= f.check_box :cancelled %> &nbsp;
              <% if @event.cancelled %>
                ⬅︎ Uncheck this box to unmark the event as cancelled.
              <% else %>
                ⬅︎ Check this box to mark the event as cancelled.
              <% end %>
            </label>
          </div>
        </div>
      </div>

      <div class="row event-dates">
        <div class="col">
          <div class="form-group">
            <%= f.label :start_date %>
            <div class='input-group date' id='start_date'>
              <input type='text' name="event[start_date]" class="form-control" value="<%= @event.start_date.strftime("%Y-%m-%d") if @event.start_date %>" />
          <span class="input-group-addon">
            <i class="fa fa-lg fa-calendar" aria-hidden="true"></i>
          </span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <%= f.label :end_date %>
            <div class="input-group date" id="end_date">
              <input type="text" name="event[end_date]" class="form-control" value="<%= @event.end_date.strftime("%Y-%m-%d") if @event.end_date %>" />
                <span class="input-group-addon">
                    <i class="fa fa-lg fa-calendar" aria-hidden="true"></i>
                </span>
            </div>

          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_area :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Short name (less than 67 characters) for name tags" %>
        <%= f.text_field :short_name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-2">
            <%= f.label :location %>
            <div style="width: 6em;">
              <%= f.select(:location, GetSetting.locations, {}, { class: 'form-control' }) %>
            </div>
          </div>
          <div class="col-lg-2">
            <%= f.label :event_format %>
            <div style="width: 6em;">
              <%= f.select(:event_format, GetSetting.site_setting('event_formats'), {}, { class: 'form-control' }) %>
            </div>
          </div>
          <div class="col-lg-2">
            <%= f.label :event_type %>
            <div style="width: 17em;">
              <%= f.select(:event_type, GetSetting.site_setting('event_types'), {}, { class: 'form-control' }) %>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :time_zone, class: "control-label" %>
        <div class="controls" style="width: 375px;">
          <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {}, { class: 'form-control' } %>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3">
            <%= f.label :max_participants %>
            <%= f.number_field :max_participants, class: 'form-control' %>
          </div>
          <div class="col-lg-2">
            <%= f.label :max_virtual %>
            <%= f.number_field :max_virtual, class: 'form-control' %>
          </div>
          <div class="col-lg-3">
            <%= f.label :max_observers %>
            <%= f.number_field :max_observers, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Subject Areas" %>
        <%= f.text_field :subjects, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, rows: 20, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :press_release %>
        <%= f.text_area :press_release, rows: 10, class: 'form-control' %>
      </div>

      <div class="row buttons">
        <div class="form-group col-md-12">
          <%= f.submit (f.object.new_record? ? 'Add New Event' : 'Update Event'), class: 'btn btn-primary' %>
          <% unless f.object.new_record? %>
              | <%= link_to 'Cancel', event_path(@event), class: 'btn btn-secondary' %>
              <% if policy(@event).delete? %>
              | <%= link_to 'Delete This Event', event_path(@event, @schedule), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure you want to delete #{@event.code} and all of its associated data?" } %>
              <% end %>
          <% end %>
        </div>
      </div>
    </fieldset>
<% end %>
</div>
