<%= render "shared/errors", object: @event %>
<div class="event-page">
<%= form_for @event, html: { role: 'form', class: 'form' } do |f| %>
<fieldset>
  <% @editable_fields.each do |field| %>
    <%= render partial: 'event_edit_items', locals: { form: f, field_name: field } %>
  <% end %>

  <div class="row buttons">
    <div class="form-group">
      <%= f.submit 'Update Event', class: 'btn btn-primary' %>
      | <%= link_to 'Cancel', event_path(@event), class: 'btn btn-secondary' %>
    </div>
  </div>
</fieldset>
<% end %>
</div>
