<article>

<table class="table table-striped table-hover" id="events-list">
	<tbody>
	<tr>
		<th><%= image_tag('globe.png', alt: 'Location') %></th></th><th>Code</th><th>Workshop Name</th><th>Dates</th><th>Participants</th>
	</tr>
	<% @events.each do |event| %>
	<tr>
      <td><%= image_tag("flags/#{event.country}.png", height: 18) %></td>
	    <td><%= link_to event.code, event_path(event) %></td>
	    <td><%= link_to event.name, event_path(event) %></td>
	    <td width="125"><%= event.dates %></td>
	    <td class="confirmed"><%= event.confirmed_count %></td>
	</tr>
  <% end %>
	</tbody>
</table>

</article>
