<article>
  <div class="card card-default event-details">
    <div class="card-title"><%= @event.code %>: <%= @event.name %></div>
    <div class="card-body event-details">
      <h2>Event Details:</h2>
       <table class="table table-sm" border="0">
          <tbody>
          <tr>
            <td class="label">Event Code:</td>
            <td><%= @event.code %></td>
            <% if policy(@event).event_staff? %>
            <td class="label">Booking Code:</td>
            <td><%= @event.booking_code %></td>
            <% else %>
            <td></td><td></td>
            <% end %>
          </tr>
          <tr>
            <td class="label">Event Name:</td>
            <td colspan="3"><%= @event.name %></td>
          </tr>
          <% unless @event.short_name.blank? %>
              <tr>
                <td class="label">Short Name:</td>
                <td colspan="3"><%= @event.short_name %></td>
              </tr>
          <% end %>
          <tr>
            <td class="label">Event Type:</td>
            <td colspan="3"><%= @event.event_type %></td>
          </tr>
          <tr>
            <td class="label">Subject Areas:</td>
            <td colspan="3"><%= @event.subjects %></td>
          </tr>
          <tr>
            <td class="label">Event Location:</td>
            <td colspan="3">
              <%= GetSetting.org_name(@event.location) %>
              (<%= @event.location %>),
              <%= GetSetting.location_country(@event.location) %>
            </td>
          </tr>
          <tr>
            <td class="label">Event Timezone:</td>
            <td colspan="3"><%= ActiveSupport::TimeZone[@event.time_zone].to_s %></td>
          </tr>
          <tr>
            <td class="label">Event Dates:</td>
            <td colspan="3"><%= @event.dates(:long) %></td>
          </tr>
          <% if policy(@event).view_details? %>
          <tr>
            <td class="label">Maximum participants:</td>
            <td><%= @event.max_participants %></td>
            <td class="label">Maximum observers:</td>
            <td><%= @event.max_observers %></td>
          </tr>
          <% end %>
         <tr>
           <td class="label">Event Webpage:</td>
           <td colspan="3"><%= link_to @event.url, @event.url %></td>
         </tr>

         <% if policy(@event).view_details? %>
         <tr>
          <td class="label">Door  Code:</td>
          <td><%= @event.door_code unless @event.door_code.blank? %></td>
          <td class="label">Last updated:</td>
          <td>
            <%= @event.updated_at.strftime('%Y-%m-%d @ %H:%M %Z') %>
            <% unless @event.updated_by.blank? %>
              by <%= @event.updated_by %>
            <% end %>
          </td>
         </tr>
         <% end %>
        </tbody>
      </table>

     <% if(policy(@event).edit?) %>
     <div class="event-edit-button">
       <%= link_to 'Edit Event', edit_event_path(@event), class: 'btn btn-primary' %>
     </div>
     <% end %>

    </div><!--/.card-body -->

    <div class="card-body">
      <div class="row" id="event-description">
        <div class="col">
        <% if user_signed_in? %>
        <h2>Event Description:
          <% if policy(@event).edit? %>
          <br><small>appears only here, for participants to see</small>
          <% end %>
        </h2>
         <%= get_text(@event.description) %>
        <% end %>

        <h2 id="press-release">Event Press Release:
          <% if policy(@event).edit? %>
          <br><small>appears on the public webpage</small>
          <% end %>
        </h2>
        <%= get_text(@event.press_release) %>
        </div>
      </div>
    </div><!--/.card-body -->

    <% if policy(@event).edit? %>
    <div class="card-body buttons">
      <div class="form-group">
      <%= link_to 'Edit Event Details', edit_event_path(@event), class: 'btn btn-primary' %>
      </div>
    </div>
    <% else %>
    <div class="card-body buttons">
      <div class="form-group">
        <%= link_to 'Event Members', event_memberships_path(@event), class: 'btn btn-secondary' %>
        <%= link_to 'Event Schedule', event_schedule_index_path(@event), class: 'btn btn-secondary' %>
      </div>
    </div>
    <% end %>
  </div>
  <!-- /.card -->
</article>
