<article>
  <div class="card card-default">
    <div class="card-title"><%= @event.code %>: <%= @event.name %></div>
    <div class="card-body">
      <table class="table table-sm table-responsive">
         <tbody>
         <tr>
           <td align="right">Event Name:</td>
           <td colspan="3"><%= @event.name %></td>
         </tr>
         <% unless @event.short_name.blank? %>
             <tr>
               <td align="right">Short Name:</td>
               <td colspan="3"><%= @event.short_name %></td>
             </tr>
         <% end %>
         <tr>
           <td align="right" width="140">Event Code:</td>
           <td><%= @event.code %></td>

           <td align="right">Event type:</td>
           <td><%= @event.event_type %></td>
         <tr>
            <td align="right">Location:</td>
            <td><%= @event.location %></td>

            <td align="right">Time Zone:</td>
            <td><%= ActiveSupport::TimeZone[@event.time_zone].to_s %></td>
         </tr>
         <tr>
           <td align="right">Start Date:</td>
           <td><%= @event.arrival_date %></td>

           <td align="right">End Date:</td>
           <td><%= @event.departure_date %></td>
         </tr>

       <% if policy(@event).view_details? %>
         <tr>
           <td align="right">Door Access Code:</td>
           <td><%= @event.door_code unless @event.door_code.blank? %></td>

           <td align="right">Booking Code:</td>
           <td><%= @event.booking_code if policy(@event).event_staff? %></td>
         </tr>
         <tr>
           <td align="right">Max participants:</td>
           <td><%= @event.max_participants %></td>
           <td align="right">Max observers:</td>
           <td><%= @event.max_observers %></td>
         </tr>
        <% end %>
        <tr>
          <td align="right">Event Webpage:</td>
          <td align="left"><%= link_to @event.url, @event.url %></td>
          <td align="right">Subject Areas:</td>
          <td align="left"><%= @event.subjects %></td>
        </tr>
        <% if policy(@event).view_details? %>
        <tr>
         <td align="right">Last updated:</td>
         <td colspan="3">
           <% unless @event.updated_by.blank? %>
             by <%= @event.updated_by %> on
           <% end %>
           <%= @event.updated_at.strftime('%Y-%m-%d @ %H:%M %Z') %>
         </td>
        </tr>
        <% end %>
       </tbody>
     </table>

     <% if(policy(@event).edit?) %>
     <div class="event-edit-button">
       <%= link_to 'Edit Event', edit_event_path(@event), class: 'btn btn-primary btn-sm' %>
     </div>
     <% end %>

    </div><!--/card-body -->

    <div class="card-body">
      <div class="row" id="event-description">
        <div class="col">
        <h2>Event Description:</h2>
         <%= get_text(@event.description) %>

        <h2>Event Press Release:</h2>
        <%= get_text(@event.press_release) %>
        </div>
      </div>
    </div><!--/card-body -->

    <% if user_signed_in? && policy(@event).edit? %>
    <div class="card-body buttons">
      <div class="form-group">
      <%= link_to 'Edit Event Details', edit_event_path(@event), class: 'btn btn-primary' %>
      </div>
    </div>
    <% else %>
    <div class="card-body buttons">
      <div class="form-group">
        <%= link_to 'Event Members', event_memberships_path(@event), class: 'btn btn-secondary' %>
        <%= link_to 'Event Schedule', event_schedule_index_path(@event), class: 'btn btn-secondary' %>
      </div>
    </div>
    <% end %>
  </div>
  <!-- /.card -->
</article>
