<% @setting.value.each do |key, location_settings| %>
<div class="panel panel-default">
  <div class="panel-body">
    <h3><%= location_settings['Name'] %></h3>
    <%= setting_form.fields_for @setting.var do |location_form| %>
      <%= location_form.fields_for key do |location_field| %>
        <div class="row">
          <div class="col-xs-2">
            <label>Abbreviation:</label>
          </div>
          <div class="col-xs-2">
        <p><%= location_field.text_field 'new_key', size: 5, value: key,
                class: 'form-control input-sm' %></p>
          </div>
        </div>
        <% location_settings.each do |field_name, field_value| %>
          <label><%= field_name.to_s.titleize %></label> (<%= field_name %>):
          <p><%= location_field.text_field field_name, value: field_value,
              class: 'form-control' %></p>
        <% end %>
      <% end %>

      <%= location_form.fields_for key do |field_form| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>Add New Field to "<%= key %>":</h4>
            <div class="form-group">
              <label for="new_field">Field name:</label>
              <%= field_form.text_field :new_field, class: 'form-control' %>
            </div>
            <div class="form-group">
              <label for="new_field">Field value:</label>
              <%= field_form.text_field :new_value, class: 'form-control' %>
              <span id="helpBlock1" class="help-block">For arrays, use:
              [One, Two, 3, four]</span>
            </div>
          </div>
        </div>
      <% end %>

      <%= location_form.submit "Update #{key} Settings", class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
<% end %>
