<h3><%= @setting.var %> Settings:</h3>

<%= render partial: 'locations_nav', locals: {tabs: @setting.value.keys.uniq} %>

<div class="tab tab-content">
<% @setting.value.each do |key, values| %>
  <div role="tabcard" class="tab-pane<%= ' active' if key == @setting.value.keys.first %>" id="<%= key %>">
    <h3><%= @setting.name(key) %></h3>
    <%= setting_form.fields_for @setting.var do |var_form| %>
      <%= var_form.fields_for key do |var_field| %>
        <div class="row">
          <div class="col-md-1">
              <label>Location:</label><br>
            </div>
          <div class="col-md-2">
          <p><%= var_field.text_field 'new_key', size: 5, value: key,
                  class: 'form-control input-sm' %></p>
          </div>
        </div>
        <% if values.is_a?(Hash) && !values.blank? %>
          <% values.each do |field_name, field_value| %>
            <label><%= field_name.to_s.titleize %></label> (<%= field_name %>):
            <p>
            <% if field_name == 'Timezone' %>
              <%= var_field.time_zone_select 'Timezone', ActiveSupport::TimeZone.us_zones,
                { default: field_value }, { class: 'form-control' } %>
            <% else %>
              <%= var_field.text_field field_name, value: field_value,
                class: 'form-control' %>
            <% end %>
            </p>
          <% end %><!-- values -->

          <% if policy(@setting).new? %>
            <%= render partial: 'new_field', locals:
              { setting_form: var_form, fields_for: key } %>
          <% end %>

        <% end %>
      <% end %><!-- var_form -->
      <div class="row submit-button">
        <div class="col">
          <%= var_form.submit "Update #{key} Settings", class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %><!-- setting_form -->
  </div><!-- tabcard -->


<% end %><!-- @setting -->

  <% if policy(@setting).new? %>
    <%= render partial: 'new_location_form',
          locals: {setting_form: setting_form } %>
  <% end %>

</div><!-- tab-content -->
