<%= render "shared/errors", object: @person %>
<%= render "settings_nav" %>

<fieldset>
<%= f.fields_for @person do |person| %>
<div class="form-group">
  <div class="col-sm-3 control-label">
    <%= person.label :salutation, "Salutation: " %>
  </div>
  <div class="col-sm-2">
    <%= person.select :salutation, {"Prof." => "Prof.", "Dr." => "Dr.", "Mr." => "Mr.", "Mrs." => "Mrs.", "Ms." => "Ms."}, {}, { required: 'true', autofocus: 'true', class: 'form-control' } %>
  </div>
  <div class="col-sm-7"></div>
</div>

  <div class="form-group">
    <div class="col-sm-3 control-label">
      <%= person.label :firstname, "Firstname: " %>
    </div>
    <div class="col-sm-9">
      <%= person.text_field :firstname, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3 control-label">
      <%= person.label :lastname, "Lastname: " %>
    </div>
    <div class="col-sm-9">
      <%= person.text_field :lastname, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3 control-label">
      <%= person.label :email, "E-mail: " %>
    </div>
    <div class="col-sm-9">
      <%= person.text_field :email, class: 'form-control' %>
    </div>
    <div class="form-inline member-email">
      <div class="col-sm-3">
        &nbsp;
      </div>
      <div class="col-sm-9 share_email">
        <%= f.check_box 'share_email', class: "form-control" %>
        <%= f.label(:share_email, 'Allow other members of the event to see this e-mail address') %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3 control-label">
      <%= person.label :phone, "Phone: " %>
    </div>
    <div class="col-sm-9">
      <%= person.text_field :phone, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3 control-label">
      <%= person.label :url, "Website: " %>
    </div>
    <div class="col-sm-9">
      <%= person.text_field :url, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3 control-label">
      <%= person.label :gender, "Gender: " %>
    </div>
    <div class="col-sm-3">
      <%= person.select :gender, {"Male" => "M", "Female" => "F"}, {}, { required: 'true', autofocus: 'true', class: 'form-control' } %>
    </div>
    <div class="col-sm-6"></div>
  </div>

  <div class="form-group">
    <div class="col-sm-3 control-label">
      <%= person.label :affiliation, "Affiliation: " %>
    </div>
    <div class="col-sm-9">
      <%= person.text_field :affiliation, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3 control-label">
      <%= person.label :department, "Department: " %>
    </div>
    <div class="col-sm-9">
      <%= person.text_field :department, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3 control-label">
      <%= person.label :title, "Title: " %>
    </div>
    <div class="col-sm-9">
      <%= person.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3 control-label">
      <%= person.label :academic_status, "Academic Status: " %>
    </div>
    <div class="col-sm-3">
      <%= person.select :academic_status, Global.person.academic_status, {}, { required: 'true', autofocus: 'true', class: 'form-control' } %>
    </div>
    <div class="col-sm-6"></div>
  </div>

  <div class="form-group">
    <div class="col-sm-3 control-label">
      <%= person.label :research_areas, "Research Areas: " %>
    </div>
    <div class="col-sm-9">
      <p>Use a comma-separated list of keywords:</p>
      <%= person.text_field :research_areas, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3 control-label">
      <%= person.label :biograhy, "Biography: " %>
    </div>
    <div class="col-sm-9">
      <%= person.text_area :biography, class: 'form-control' %>
    </div>
  </div>

<% end %>

<div class="form-group">
  <div class="col-sm-3"></div>
  <div class="col-sm-9" id="member-buttons">
  <%= f.submit @button_text, class: 'btn btn-sm btn-default' %>
  </div>
</div>
</fieldset>


</div>
