<h1 class="app-settings">Application Settings</h1>

<ul class="nav nav-tabs">
    <% @tabs.each do |tab| %>
      <li id="<%= tab %>" class="<%= 'active' if tab == params[:id] %>">
        <%= link_to tab.titleize, edit_setting_path(tab),
          data: { toggle: 'tooltip' } %>
      </li>
    <% end %>
    <li id="new" class="<%= 'active' if action_name == 'new' %>">
      <%= link_to '+/- Setting', new_setting_path if policy(Setting).new? %>
    </li>
</ul>
