<%= render "settings_nav" %>
<div class="tab">
  <%= form_for(@setting, url: setting_path(@setting.var), method: 'patch') do
    |setting_form| %>
    <% @setting.value.each do |field_name, data| %>
      <label><%= field_name.to_s.titleize %></label> (<%= field_name %>):
      <p><%= setting_form.fields_for @setting.var do |field_form| %>
        <%= field_form.text_field field_name, value: data,
          class: 'form-control' %></p>
        <% end %>
    <% end %>

    <%= setting_form.fields_for @setting.var do |field_form| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Add New "<%= @setting.var.titleize %>" Field:</h4>
          <div class="form-group">
            <label for="new_field">Field name:</label>
            <%= field_form.text_field :new_field, class: 'form-control' %>
          </div>
          <div class="form-group">
            <label for="new_field">Field value:</label>
            <%= field_form.text_field :new_value, class: 'form-control' %>
          </div>
        </div>
      </div>
    <% end %>

    <%= setting_form.submit 'Update Settings', class: 'btn btn-default' %>
  <% end %>
</div>

