<div class="invitation-box container" id="email-form">
  <div class="card">
    <div class="rsvp-card-title card-header">
      <h2>Confirm Your E-mail Address</h2>
    </div>
    <%= render 'validation_errors' %>
    <div class="card-body d-flex flex-column justify-content-center">
      <div class="p-2">
        <h1>Oops! There is an e-mail conflict.</h1>
      </div>
      <div class="p-2">
        <p>There is another record in our database using <em><%= replace_with_email(@person) %></em>.
        But that's OK! We will consolidate the data into a single record. First we must verify that
        you control both accounts.</p>
      <p><strong>Please check both of your email accounts, and enter the codes we sent:</strong></p>
      </div>

    <%= form_for @email_form, as: :email_form,
       url: rsvp_confirm_email_path(@invitation.code), method: :post,
      html: { role: 'form', novalidate: 'novalidate', class: 'form' } do |email_form| %>
    <fieldset>
    <%= email_form.hidden_field :person_id, value: @person.id %>
    <div class="container">
      <div class="row align-items-center">
        <div class="col verification-msg">
          Verification code for <strong><%= replace_email(@person) %></strong>:
        </div>
        <div class="col email-code">
          <%= email_form.text_field :replace_email_code, size: 8, class: "form-control" %>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col verification-msg">
          Verification code for <strong><%= replace_with_email(@person) %></strong>:
        </div>
        <div class="col email-code">
          <%= email_form.text_field :replace_with_email_code, size: 8, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="d-flex flex-row align-items-center justify-content-center">
      <div class="p-2">
        <a href="<%= rsvp_cancel_path(@invitation.code) %>" role="button" class="btn btn-lg btn-block btn-danger">Cancel Email Change</a>
      </div>
      <div class="p-2">
        <%= email_form.submit 'Submit Verification Codes', class: 'btn btn-lg btn-primary text-center pull-right' %>
      </div>
    </div>
    <% end %>
    </div><!-- card-body -->
  </div><!-- card email-form -->
</div><!-- container -->
