<div class="invitation-box container d-flex" id="maybe-form">
  <div class="card">
    <div class="rsvp-card-title card-header">
      <h2>Invitation RSVP for: <%= @invitation.membership.event.code %></h2>
    </div>
    <div class="card-body d-flex flex-column justify-content-center">
      <h1>Thanks! One more step:</h1>

      <p class="lead">The Contact Organizer for the event,
      <%= @organizer %>, will notified that you will
      <strong>not</strong> be attending, when you click the
      "Decline Attendance" button below. Would you like to add
      anything to the message?</p>

      <%= form_tag({controller: 'rsvp', action: 'no', method: 'post'},
                       { class: 'form', role: 'form'}) do %>
      <div class="p-2">
        <div class="form-group">
        <%= text_area_tag('rsvp[organizer_message]', "", size: "100x4",
            class: 'form-control',
            placeholder:
                  "Optional: enter a message for the organizer here.") %>
        </div>
      </div>
      <div class="d-flex flex-row-reverse p-2">
        <%= submit_tag('Decline Attendance', class: "btn bt-lg btn-danger pull-right") %>
        <span id="click-submit" class="p-2">Click the button to complete your RSVP ➜</span>
      </div>
      <% end %>
    </div><!-- ./card-body -->
  </div><!-- ./card -->
</div><!-- container -->
