<div class="row invitation-box container">
  <div class="col-md-8 col-md-offset-1">
    <%= render 'validation_errors' %>
    <div class="panel panel-primary" id="no-form">
      <div class="panel-heading">
        <span class="panel-title"><h4>Invitation RSVP</h4></span>
      </div>
      <div class="panel-body">
        <%= form_tag({controller: 'rsvp', action: 'no', method: 'post'},
                     { class: 'form', role: 'form'}) do %>
        <div class="row">
          <div class="col-md-12">
              <h1>One more step:</h1>
              <p class="lead">The Contact Organizer for the event,
              <%= @organizer %>, will notified that you will
              <strong>not</strong> be attending, as soon as you click the
              "Send Reply" button below. Would you like to add something to
              the message?</p>
          </div>
        </div>
        <div class="row">
          <div class='col-md-12 text-center'>
              <%= text_area_tag('rsvp[organizer_message]', "", size: "100x4",
                  class: 'form-control',
                  placeholder:
                        "Optional: enter a message for the organizer here.") %>
           </div>
         </div>
        <div class="row">
           <div class='col-md-12'>

            <%= submit_tag('Decline Attendance', class: 'btn btn-danger pull-right') %>
            <span id="click-submit" class="pull-right">Click the button
            to complete your RSVP ➜</span>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
