<div class="invitation-content">
  <%= render 'validation_errors' %>
  <div class="invitation-box">
  <%= form_for @invitation, as: :invitation, url: invitations_create_path,
                        method: 'post',
                          html: { class: 'form', role: 'form' } do |f| %>
    <h3 class="login-head">
      <i class="fa fa-lg fa-fw fa-envelope"></i>Request New Event Invitation
    </h3>
    <div class="form-group">
      <%= f.label :event, 'Select the event you were invited to:' %><br />
      <%= f.collection_select(:event, @events, :code, :options_list,
                              { include_blank: true, selected: @code },
                              { class: 'form-control' }) %>
    </div>
    <div class="form-group">
      <%= f.label :email, 'E-mail Address' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email",
                        placeholder: 'email@address.edu', id: 'login-email',
                        class: 'form-control' %>
    </div>
    <div class="form-group btn-container">
      <%= f.button :submit, class: 'btn btn-primary btn-block',
                               id: "request-button" do %>
        <i class="fa fa-sign-in fa-lg fa-fw"></i> Request Invitation
      <% end %>
    </div>
    <div class="form-group mt-3">
      <p class="semibold-text mb-0" id="back-to-login">
        <a href="<%= sign_in_url %>"><i class="fa fa-angle-left fa-fw"></i> Sign-in</a>
      </p>
    </div>
  <% end %>
    <div class="align-text-bottom" id="about-invitations">
      <a href="#" data-toggle="modal" data-target="#about-invitations-modal">
        About Invitations<i class="fa fa-lg fa-fw fa-question-circle"></i>
      </a>
    </div>
  </div>
</div>


<!-- About Invitations Modal -->
<div class="modal fade" id="about-invitations-modal" tabindex="-1" role="dialog" aria-labelledby="about-invitations" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= GetSetting.about_invitations_msg.html_safe %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
