<div class="authform">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f| %>
    <h3>Sign in</h3>
    <%= render "devise/shared/error_messages" %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
    </div>
    <%= f.submit 'Sign in', class: 'button' %>
    <% if devise_mapping.rememberable? %>
        <div class="checkbox" style="width:150px">
          <label>
            <%= f.check_box :remember_me %> Remember me
          </label>
        </div>
    <% end -%>
  <% end %>
</div>
<div class="row">
  <div class="col-lg-4">
    <p class="sign-in-links">Have you registered an account here already?<br>If not, <%= link_to 'Sign-up here', new_registration_path(resource_name), class: 'right' %>.</p>
  </div>
</div>
<%- if devise_mapping.recoverable? %>
  <div class="row">
    <div class="col-lg-4">
      <p class="sign-in-links">Did you forget your password?<br><%= link_to "Reset password", new_password_path(resource_name) %>.</p>
    </div>
  </div>
<% end -%>
