<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div id="application-heading">
      <%= link_to image_tag(Global.config.logo_file), '/', {id: 'logo-heading'} %>
    </div>
  </div>
  <!-- /.navbar-header -->

  <ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <%= fa_icon 'user fw' %> <%= "#{current_user.person.name}" if user_signed_in? %> <%= fa_icon 'caret-down' %>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <% if user_signed_in? %>
            <li><%= link_to ' Settings', settings_path, class: 'fa fa-gear fw' %></li>
            <li><%= link_to ' Change Password', edit_user_registration_path, class: 'fa fa-key fw' %></li>
            <li class="divider"></li>
            <li><%= link_to " Sign Out", sign_out_path, method: :delete, class: 'fa fa-sign-out fw' %></li>
        <% else %>
            <% if request.path =~ /sign_in/ %>
                <li><%= link_to " Sign Up", new_registration_path(resource_name), class: 'fa fa-user fw' %>
            <% else %>
                <li><%= link_to " Sign In", sign_in_path, class: 'fa fa-sign-in fw' %></li>
            <% end %>
        <% end %>
      </ul>
      <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
  </ul>
  <!-- /.navbar-top-links -->

  <div class="row flash-messages">
    <%= render 'layouts/flashes' %>
  </div>

  <% if user_signed_in? %>
      <!-- Sidebar Navigation -->
      <%= render 'layouts/sidebar' %>
  <% end %>
</nav>
