<div class="navbar-default sidebar" id="sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li id="home">
        <a href="/"><i class="fa fa-dashboard fa-fw"></i> Home</a>
        <div class="bottom-border"></div>
      </li>

      <% unless @event && @event.id %>
      <li id="all-events">
        <%= link_to '<i class="fa fa-university fa-fw"></i> All Events'.html_safe, events_path %>
        <div class="bottom-border"></div>
      </li>
      <li id="my-events">
        <%= link_to '<i class="fa fa-suitcase fa-fw"></i> My Events'.html_safe, my_events_path %>
        <div class="bottom-border"></div>
      </li>

      <!-- /.locations -->
      <li id="future-events">
        <%= link_to '<i class="fa fa-forward fa-fw"></i> Future Events'.html_safe, events_future_path %>
        <div class="bottom-border"></div>
      </li>

      <li id="past-events">
        <%= link_to '<i class="fa fa-backward fa-fw"></i> Past Events'.html_safe, events_past_path %>
        <div class="bottom-border"></div>
      </li>

      <% unless Setting.Locations.keys.blank? %>
      <li id="event-locations">
        <a href="#" id="event-locations-link"><i class="fa fa-globe fa-fw"></i> Event Locations <span id="locations-arrow" class="fa arrow"></span></a>
        <ul class="nav nav-second-level" id="event-locations-list">
          <% Setting.Locations.keys.each do |location| %>
          <li id="<%= location %>">
            <div class="top-border"></div>
            <%= link_to %Q(<i class="fa fa-location-arrow fa-fw"></i> #{location}).html_safe, location_url(location) %>
            <div class="bottom-border"></div>
          </li>
          <% end %>
        </ul>
        <!-- /.nav-second-level -->
      </li>
      <% end %>
      <!-- /.locations -->

      <li id="event-years">
        <a href="#" id="event-years-link"><i class="fa fa-calendar fa-fw"></i> Event Years <span id="years-arrow" class="fa arrow"></span></a>
        <ul class="nav nav-second-level" id="event-years-list">
          <% Event.years.each do |year| %>
          <li id="year-<%= year %>">
            <div class="top-border"></div>
            <%= link_to %Q(<i class="fa fa-calendar-check-o fa-fw"></i> #{year}).html_safe, year_url(year) %>
            <div class="bottom-border"></div>
          </li>
          <% end %>
        </ul>
        <!-- /.nav-second-level -->
      </li>

      <% end %>


      <% if @event && @event.id %>
      <li id="event-links">
        <a href="#"><i class="fa fa-gears fa-fw"></i> <%= @event.code %> <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">

          <li id="event-details">
            <div class="top-border"></div>
            <%= link_to '<i class="fa fa-book fa-fw"></i> Details'.html_safe, event_path(@event) %>
            <div class="bottom-border"></div>
          </li>

          <li id="event-schedule">
            <div class="top-border"></div>
            <%= link_to '<i class="fa fa-calendar fa-fw"></i> Schedule'.html_safe, event_schedule_index_path(@event) %>
            <div class="bottom-border"></div>
          </li>

          <li id="event-memberships">
            <a href="#" id="event-members-link"><i class="fa fa-users fa-fw"></i> Members<span id="locations-arrow" class="fa arrow"></span></a>

            <ul class="nav nav-second-level memberships">
              <li id="event-members-list">
                <div class="top-border"></div>
                <%= link_to '<i class="fa fa-list fa-fw"></i> List Members'.html_safe, event_memberships_path(@event) %>
                <div class="bottom-border"></div>
              </li>
              <% if policy(@event).allow_add_members? %>
              <li id="event-members-add">
                <div class="top-border"></div>
                <%= link_to '<i class="fa fa-user-plus fa-fw"></i> Add Members'.html_safe, add_event_memberships_path(@event) %>
                <div class="bottom-border"></div>
              </li>
              <li id="event-members-invite">
                <div class="top-border"></div>
                <%= link_to '<i class="fa fa-envelope fa-fw"></i> Invite Members'.html_safe, invite_event_memberships_path(@event) %>
                <div class="bottom-border"></div>
              </li>
              <% end %>
            </ul>
          </li>
          <!-- /#event-memberships -->
        </ul>
        <!-- /.nav-second-level -->
      </li>
      <% end %>
      <!-- /.if @event -->
    </ul>
  </div>
  <!-- /.sidebar-nav -->
</div>
<!-- /.navbar-default sidebar -->
