<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <% if current_user.present? %>
    <div class="app-sidebar__user">
      <!-- user image here? -->
      <div>
        <p class="app-sidebar__user-name">John Doe</p>
        <p class="app-sidebar__user-designation">Frontend Developer</p>
      </div>
    </div>
  <% end %>

  <ul class="app-menu">
  <% if @event && @event.id %>
    <li>
      <%= link_to root_path, class: 'app-menu__item' do %>
        <i class="app-menu__icon fa fa-home"></i><span class="app-menu__label">Home</span>
      <% end %>
    </li>
    <li>
      <%= link_to %Q(<i class="fa fa-book fa-fw"></i>
          <span class="app-menu__label">#{@event.code}</span>).html_safe,
          event_path(@event), class: 'app-menu__item active' %>
    </li>
    <li>
      <%= link_to '<i class="fa fa-calendar fa-fw"></i>
          <span class="app-menu__label"> Schedule</span>'.html_safe,
          event_schedule_index_path(@event), class: 'app-menu__item' %>
    </li>
    <li>
      <%= link_to '<i class="fa fa-users fa-fw"></i>
          <span class="app-menu__label"> List Members</span>'.html_safe,
          event_memberships_path(@event), class: 'app-menu__item' %>
    </li>
    <% if policy(@event).allow_add_members? %>
    <li>
      <%= link_to '<i class="fa fa-user-plus fa-fw"></i>
          <span class="app-menu__label"> Add Members</span>'.html_safe,
          add_event_memberships_path(@event), class: 'app-menu__item' %>
    </li>
    <% end %>
    <% if policy(@event).send_invitations? %>
    <li>
      <%= link_to '<i class="fa fa-envelope fa-fw"></i>
          <span class="app-menu__label"> Invite Members</span>'.html_safe,
          invite_event_memberships_path(@event), class: 'app-menu__item' %>
    </li>
    <% end %>
  <% else %>
    <li>
      <%= link_to root_path, class: 'app-menu__item active' do %>
        <i class="app-menu__icon fa fa-home"></i><span class="app-menu__label">Home</span>
      <% end %>
    </li>
    <li>
      <%= link_to '<i class="fa fa-suitcase fa-fw"></i>
          <span class="app-menu__label"> My Events</span>'.html_safe,
          my_events_path, class: 'app-menu__item' %>
    </li>
    <li>
      <%= link_to '<i class="fa fa-university fa-fw"></i>
          <span class="app-menu__label"> All Events</span>'.html_safe,
          events_path, class: 'app-menu__item' %>
    </li>
    <li>
      <%= link_to '<i class="fa fa-forward fa-fw"></i>
          <span class="app-menu__label">Future Events</span>'.html_safe,
          events_future_path, class: 'app-menu__item' %>
    </li>
    <li>
      <%= link_to '<i class="fa fa-backward fa-fw"></i>
          <span class="app-menu__label">Past Events</span>'.html_safe,
          events_past_path, class: 'app-menu__item' %>
    </li>
    <% unless Setting.Locations.keys.blank? %>
    <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview">
      <i class="app-menu__icon fa fa-globe"></i><span class="app-menu__label">Event Locations</span>
      <i class="treeview-indicator fa fa-angle-right"></i></a>
      <ul class="treeview-menu">
        <% Setting.Locations.keys.each do |location| %>
        <li id="<%= location %>">
          <%= link_to %Q(<i class="fa fa-location-arrow fa-fw"></i>
              <span class="app-menu__label">#{location}</span>).html_safe,
              location_url(location), class: 'treeview-item' %>
        </li>
        <% end %>
      </ul>
    </li>
    <% end %>
    <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview">
      <i class="app-menu__icon fa fa-calendar"></i><span class="app-menu__label">Event Years</span>
      <i class="treeview-indicator fa fa-angle-right"></i></a>
      <ul class="treeview-menu">
        <% Event.years.each do |year| %>
        <li id="year-<%= year %>">
          <%= link_to %Q(<i class="fa fa-calendar-check-o fa-fw"></i>
          <span class="app-menu__label">#{year}</span>).html_safe,
          year_url(year), class: 'treeview-item' %>
        </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
</aside>

