<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- MathJax to display math -->
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
          tex2jax: {
              inlineMath: [['$','$'], ['\\(','\\)']],
              processEscapes: true
          },
          TeX: {
              extensions: ["autobold.js", "AMSmath.js", "AMSsymbols.js"],
              equationNumbers: { autoNumber: "AMS" }
          }
      });
    </script>
  </head>
  <body class="app sidebar-mini <%= controller_name %> <%= action_name %>" data-notice="<%= j notice -%>" data-alert="<%= j alert || devise_error_messages -%>">
    <%# Navbar %>
    <header class="app-header">
      <a class="app-header__logo" href="<%= root_path -%>">
      <%= image_tag(Setting.Site['logo'], id: 'logo-heading', class: 'pull-left') %>
      <span id="application-title"><%= Setting.Site['title'] %></span>
      </a>

      <%# Navbar Right Menu %>
      <ul class="app-nav">
        <li class="app-search">
          <input class="app-search__input" type="search" placeholder="Search">
          <button class="app-search__button"><i class="fa fa-search"></i></button>
        </li>
        <% if current_user.present? %>
          <%# User Menu %>
          <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
            <ul class="dropdown-menu settings-menu dropdown-menu-right">
              <% if current_user.is_admin? %>
              <li>
                <%= link_to settings_path, class: 'dropdown-item' do -%>
                  <i class="fa fa-cog fa-lg"></i> Settings
                <% end %>
              </li>
              <% end %>
              <% if current_user.is_staff? %>
              <li>
                <%= link_to admin_root_path, class: 'dropdown-item' do -%>
                  <i class="fa fa-database fa-lg"></i> Database Admin
                <% end %>
              </li>
              <% end %>
              <li>
                <%= link_to edit_user_registration_path, class: 'dropdown-item' do -%>
                  <i class="fa fa-user fa-lg"></i> Change Password
                <% end %>
              </li>
              <li>
                <%= link_to sign_out_path, method: :delete, class: 'dropdown-item' do %>
                  <i class="fa fa-sign-out fa-lg"></i> Logout
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="app-login-box">
            <a class="btn btn-dark" href="<%= new_user_session_path -%>"><%= t('user.sign_in') -%></a>
            <a class="btn btn-light" href="<%= new_user_registration_path -%>"><%= t('user.sign_up') -%></a>
          </li>
        <% end %>
      </ul>
    </header>

    <%# Flash messages %>
    <% unless flash.blank? %>
    <div class="row flash-messages">
      <%= render 'layouts/flashes' %>
    </div>
    <% end %>

    <%# Sidebar menu %>
    <% if user_signed_in? %>
    <%= render 'layouts/sidebar' %>
    <% end %>

    <%# Main body content %>
    <main class="app-content">
      <% if @event && !@event.name.nil? %>
          <header>
            <h3 class="page-header"><%= link_to @event.name, @event %></h3>
            <div class="page-header-subtitle">
              <%= image_tag("flags/#{@event.country}.png", height: 22) %>
              <h4><%= @event.code %> <span class="small-bullet">&middot;</span> <%= @event.dates(:long) %></h4>
            </div>
          </header>
      <% else %>
          <% if user_signed_in? %>
          <h1 class="page-header"><%= event_list_title %></h1>
          <% end %>
      <% end %>
    <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
