<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Workshops Sign-in</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="app devise <%= controller_name %> <%= action_name %>" data-notice="<%= j notice -%>" data-alert="<%= j alert || devise_error_messages -%>">

    <%# Flash messages %>

    <div class="devise-flash">
      <%= render 'layouts/flashes' %>
      <%= render 'devise/shared/error_messages' %>
    </div>


    <section class="material-half-bg">
      <div class="cover"></div>
    </section>
    <section class="login-content d-flex flex-column">
      <div class="login-title p-2">
        <a href="<%= Setting.app_url %>">
        <%= image_tag(GetSetting.site_setting('logo'), class: 'img-thumbnail mx-auto d-block p-2') %>
        </a>
        <h1 class="p-2"><%= page_title %></h1>
      </div>
      <%= yield %>
    </section>
  </body>
</html>
